html{
}
body{
    /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(173,173,173)), color-stop(0.67, rgb(255,255,255)));
    background-image: -moz-linear-gradient(center left, rgb(173,173,173) 90%, rgb(255,255,255) 10% );    */
}
a{
    text-decoration:none;
    color:black;
}
nav{
    text-align:center;
    font-family:'Open Sans Condensed',sans-serif;
}
/*home-template and post-template are the values of the handlebars body_class variable
perhaps they should be in separate stylesheets for the homepage and post pages*/
.home-template, .post-template, .tag-template, .author-template{
    max-width:980px;
    margin-left:auto;
    margin-right:auto;
}
.nav-item[class *="pure-u"] {
    font-family:'Open Sans Condensed',sans-serif;
    -webkit-box-sizing: border-box;
    -mox-box-sizing:border-box;
    box-sizing:border-box;
    font-size:2em;
}
.border-box{
    -webkit-box-sizing: border-box;
    -mox-box-sizing:border-box;
    box-sizing:border-box;
}
.center-text{
    text-align:center;
}

#major-nav{
}
#minor-nav{
    border-top:1px solid #CCC;
    font-size:0.65em;
    padding-top: 1em;
    margin-top:1em;
    margin-left:12em;
    margin-right:12em;
}


.global-header{
    margin:20px 0;
    text-align:center;
    /*font-size:10em;*/
    color:black;
    text-transform:uppercase;
}
.global-title{
    font-weight:normal;
    font-family:'Open Sans Condensed', sans-serif;
    font-size:10em;
    margin:0;
}
#global-title-superscript{
    font-size:0.3em;
    vertical-align:super;
}
.global-footer{
    text-align:center;
    margin:300px auto 100px;
    font-size:1em;    
    font-family:'Buenard', serif !important;
    color:gray;
    padding-left:25%;
    padding-right:25%;
    display:inline-block;
    -webkit-box-sizing: border-box;
    -mox-box-sizing:border-box;
    box-sizing:border-box;
}




.post, .post-content, .author-aside{
     /*add this so padding/margins don't break columns on posts 
    still broken though, but this helps*/
    -webkit-box-sizing: border-box;
    -mox-box-sizing:border-box;
    box-sizing:border-box;
    padding: 0 10px;
    font-family:Buenard, serif !important;
}
.post-title{
    text-decoration:none;
    font-family:'Open Sans Condensed';
    font-size:4em;
    font-weight:normal;
    color:black;
    margin-bottom:0.2em;
    line-height:100%;
}
.post-subtitle{
    color:gray;
    font-size:0.8em;
}

.post-author{
    font-family:'Open Sans Condensed', sans-serif;
    font-size:1.2em;
    font-weight:bold;
}
.post-content h1,h2,h3,h4{
    font-family:'Open Sans Condensed', sans-serif;
}
.post-content{
    font-family:Buenard, serif !important;
}
.post-footer{
    font-weight:bold;
    font-family:'Open Sans Condensed', sans-serif;
    font-size:0.8em;
    text-align:right;
    padding-right:10%;
}

.exposer-post-tag{
   /* background:rgba(200,200,200,0.5);
    border:1px solid #000;
    border-radius:2px;
    padding:1px 4px;
    margin-top:10px;
    font-size:0.82em;*/
    font-family:'Open Sans Condensed', sans-serif !important;
    text-transform:lowercase;
    font-weight:bold;
    /*display:inline-block;*/
}






/* this may move to a different css file */
.author-aside{
    border-left:1px solid #ccc;
    margin-top: 100px;
    font-family:Buenard, serif !important;
    padding-bottom:100px;
    padding-left: 20px;
}
.author-name{
    text-align:center;
}
.author-img{
    top:3px;
    right:3px;
    bottom:3px;
    left:3px;
    border-radius:100%;
    border:#333 solid 2px;
    width:120px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.author-section{
    font-family:Buenard, serif !important;
    border-bottom:1px solid #ccc;
    width:55%;

    padding-left:5em;
    padding-right:5em;
    padding-bottom:3em;

    margin-top:5em;
    margin-bottom:5em;
    margin-left:auto;
    margin-right:auto;  

}
.author-bio{

}
.author-website{
    text-align:center;
    font-weight:bold;
    display:block;
    margin-top:2em;
    font-family:'Open Sans Condensed', sans-serif ;
}



/* pure wants us to do the fonts like this, i don't know why... */

*/*html, button,input,select,textarea,
.pure-g [class *= "pure-u"]{
    font-family:Buenard, serif;
}/
/*main > .exposer-post{
    /*add this so padding/margins don't break columns on posts 
    still broken though, but this helps
    -webkit-box-sizing: border-box;
    -mox-box-sizing:border-box;
    box-sizing:border-box;
}*/

