a{
    text-decoration:none;
    color:black;
}
/*main > .exposer-post{
    /*add this so padding/margins don't break columns on posts 
    still broken though, but this helps
    -webkit-box-sizing: border-box;
    -mox-box-sizing:border-box;
    box-sizing:border-box;
}*/
.main-footer{
    width:50%;
    margin:300px auto 150px;
    
}

.home-template{
    width:980px;
    margin-left:auto;
    margin-right:auto;
}
.exposer-post-content h1,h2,h3{
    font-family:'Open Sans Condensed', sans-serif;
}

#header-super-the{
    font-size:0.3em;
    vertical-align:super;
}


.exposer-header{
    margin:20px 0;
    text-align:center;
    font-family:'Open Sans Condensed', sans-serif;
    font-size:10em;
    color:black;
    text-transform:uppercase;
}
.exposer-post-title{
    text-decoration:none;
    font-family:'Open Sans Condensed';
    font-size:4em;
    font-weight:normal;
    color:black;
    margin-bottom:0;
}
.exposer-post{
     /*add this so padding/margins don't break columns on posts 
    still broken though, but this helps*/
   /* font-family:Buenard, serif;*/
    -webkit-box-sizing: border-box;
    -mox-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 20px;
}
/* pure wants us to do the fonts like this, i don't know why... */

html, button,input,select,textarea,
.pure-g [class *= "pure-u"]{
    font-family:Buenard, serif;
}

